.SearchInput {
  display: flex;
  width: 300px;
  height: 24px;
  padding: var(--Radius-s, 8px) 16px var(--Radius-s, 8px) 12px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: var(--Radius-s, 8px);
  border: var(--Radius-Sharp, 1px) solid #e0e0e0;
  background: #fff;
}

.Label {
  overflow: hidden;
  color: #828282;
  text-overflow: ellipsis;
  /* Presets/Body2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Button {
  display: flex;
  width: 96px;
  height: 40px;
  padding: var(--Radius-Sharp, 0px) 16px;
  justify-content: center;
  align-items: center;
  gap: var(--Radius-s, 8px);
  flex-shrink: 0;
  border-radius: var(--Radius-s, 8px);
  background: #000;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.MenuItem {
  display: flex;
  height: var(--Spacing-xl, 40px);
  padding: var(--Radius-Sharp, 0px) 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: var(--Radius-s, 8px);
  background: #fff;
}
